body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-player {
  background-image: url("bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}
.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}
.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}
.music-player p {
  font-size: 14px;
  color: #ffffff;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div {
  width: 50px;
  height: 50px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  color: #f53192;
  box-shadow: 0px 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}
#gif {
  opacity: 0;
  transition: opacity is 0.4s ease-in;
}
